## Python Programming Part 2
## Lesson 1 Tuples and Identity Testing
Tuples are the immutable data type which does not change once declared

In [1]:
# Creating Empty Tuple
empty_tuple = ()
print(empty_tuple)

()

In [2]:
# Tuple Creation  MisManage 
not_tuple = ('cat')
print(type(not_tuple)) # print type of tuple

<class 'str'>

Tuples does not depends on parethensis it depends on commas (,)|

In [3]:
# singleton tuple
real_tuple = ("cat",)
print(type(real_tuple))

<class 'tuple'>

In [4]:
# tuple Creation by commas
WeekEndDay = 'Saturday','Sunday'
print(type(WeekEndDay))

<class 'tuple'>

#### tuple() function helps to make other data types to tuples

In [5]:
# tuple from lists 
num_tuple = tuple([1,2,3])
print(num_tuple)

(1, 2, 3)

In [6]:
# tuple from strings 
name = "Ceaser smith"
print(tuple(name))

('C', 'e', 'a', 's', 'e', 'r', ' ', 's', 'm', 'i', 't', 'h')

### Both Lists and Tuples are ordered you can expect the order in insertion
### Both Lists and Tuples can have duplicate values and different data types

#### It Supports indexing
#### It can lead to tuple error

In [7]:
fruits = ('banana','grapes','apple')
fruits[0]

'banana'

In [8]:
# Index Error leads index out of range
fruits = ('apples','oranges','banana')
fruits[3]

IndexError: tuple index out of range

In [9]:
# Type Error (Tuple does not item assignment)
val = (1,2,3)
val[0] = 300
val

TypeError: 'tuple' object does not support item assignment

### Tuples are memory efficient  fatser than lists when working with huge amount of data
### It is impossible to change the tuple to prevent accidental failues

## Tuple Slciing

In [10]:
ans = (1,2,3,4,5,6,7,8)
#[::]
print(ans[::])
# start
print(ans[1:])
# end 
print(ans[:5])
# start ,end 
print(ans[3:7])

(1, 2, 3, 4, 5, 6, 7, 8)
(2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5)
(4, 5, 6, 7)

In [11]:
# positive step 
ans = (1,2,3,4,5,6,7,8)
#[::]
print(ans[::2])
# start
print(ans[1::2])
# end 
print(ans[:5:2])
# start ,end 
print(ans[3:7:2])

(1, 3, 5, 7)
(2, 4, 6, 8)
(1, 3, 5)
(4, 6)

In [12]:
# negative step 
ans = (1,2,3,4,5,6,7,8)
#[::]
print(ans[::-1])
# start
print(ans[1::-1])
# end 
print(ans[:5:-1])
# start ,end 
print(ans[7:3:-1])

(8, 7, 6, 5, 4, 3, 2, 1)
(2, 1)
(8, 7)
(8, 7, 6, 5)

# Operation of Tuples

In [13]:
# add one or more tuples 
t1 = (1,2,3)
t2 = (2.3,4.5,6.6)
t3 = (1 , 2, 3)
t = t1 + t2 + t3
print(t)

(1, 2, 3, 2.3, 4.5, 6.6, 1, 2, 3)

In [14]:
# multiply tuples by number like a list
tu = (1, 2, 3) * 3
print(tu)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [15]:
# index method - > Beware value not present Value Error
tu  = (1,2,3,4,5)
print(tu)
print(tu.index(4))

(1, 2, 3, 4, 5)
3

In [16]:
tu = (1,2,3) 
tu.index(4) # raises value error

ValueError: tuple.index(x): x not in tuple

### in and not in  -> check whether the value is present or not|

In [17]:
fruits = ('apples','oranges','grapes')
"apples" in fruits

True

In [18]:
players = ('Jack','Tyson','Max')
'King' not in players

True

## Both Lists and Tuples are iterable and are enumerated

In [19]:
numbers =  tuple([i for i in range(20)])
for num in numbers:
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [20]:
numbers =  tuple([int(i**2) for i in range(20)])
for index,num in enumerate(numbers):
    print("index = ",index," val = ",num)

index =  0  val =  0
index =  1  val =  1
index =  2  val =  4
index =  3  val =  9
index =  4  val =  16
index =  5  val =  25
index =  6  val =  36
index =  7  val =  49
index =  8  val =  64
index =  9  val =  81
index =  10  val =  100
index =  11  val =  121
index =  12  val =  144
index =  13  val =  169
index =  14  val =  196
index =  15  val =  225
index =  16  val =  256
index =  17  val =  289
index =  18  val =  324
index =  19  val =  361

In [21]:
# Like Lists tuples can also have data type (any) in them 
# nested tupe
nested_tuple = (1,[2,3],4,'name')
nested_tuple

(1, [2, 3], 4, 'name')

### Unpacking and Swapping Values 
1) Unpacking the values from tuples as they are unchanged of different data type
2) In most Programming languages we need temproary varible for swapping python deos not need it

In [22]:
# Unpacking
biography = ("author","12:03:2005","He inspired peoples")
name , birth_date , whatHeDid = biography
print(biography)

('author', '12:03:2005', 'He inspired peoples')

In [23]:
# Unpacking mistakes (more variables expected 3 got 2)
lessons = ('lesson1','lesson2')
lesson1, lesson2 , lesson3 = lessons

ValueError: not enough values to unpack (expected 3, got 2)

In [24]:
# Unpacking Mistakes  (too many values to unpack)
fruits = ("apples","oranges","grapes")
apples , oranges = fruits

ValueError: too many values to unpack (expected 2)

In [25]:
# Correct the Unpacking Mistake (* operator)
fruits = ('apples','oranges','grapes')
apples , *otherFruits = fruits
otherFruits

['oranges', 'grapes']

In [26]:
# Swapping
a , b = 10 , 20
print("a = ",a)
print("b = ",b)
a , b = b , a
print("a = ",a)
print("b =",b)

a =  10
b =  20
a =  20
b = 10

1) Python Evaluates assignment starting from right hand side
2) First the tuples b and a are created in memory
3) Already Created Tuples are assigned to left hand side
4) Now Tuples are unpacked then the identifier on a gets first value and
   identifier b gets second value

# Identity Testing 
# Equal Values in Python existing in many copies

In [27]:
# example 1 copy function promotes in the list one value does not change the other
lst1 = [1,2,3]
lst2 = lst1.copy()
print("lst 1",lst1)
print("lst 2",lst2)
lst1[0] = 300
print("lst 1",lst1)
print("lst 2 ",lst2)
lst2[0] = 500
print("lst 1",lst1)
print("lst 2",lst2)

lst 1 [1, 2, 3]
lst 2 [1, 2, 3]
lst 1 [300, 2, 3]
lst 2  [1, 2, 3]
lst 1 [300, 2, 3]
lst 2 [500, 2, 3]

## Id Function and is operator and not is operator
## Each Object in Python has some identity

In [28]:
a = [1,2,3]
b = [1,2,3]
a == b

True

In [29]:
a = [1,2,3]
b = [1,2,3]
a is b # they don't share same copy

False

In [30]:
a = [1,2,3]
b = a
a is b # share same copy

True

In [31]:
a = [1 ,2 ,3]
b = a
b[0] = 300
print(a) # when b chnages a also changes

[300, 2, 3]

In [32]:
a , b = 100 , 200
a is not b

True

In [33]:
# id function 
a = 1000
b = 1000
print(id(a),id(b))

2721881273360 2721881273776

In [34]:
# Be Careful When taking inputs 
a = int(input("Enter a: "))
b = int(input("Enter b: "))
print(id(a),id(b))
a is b

Enter a:  20
Enter b:  20

140706223688728 140706223688728

True

Python allocates small digits and small strings same id depends on system weirdly ber careful

In [36]:
# small strings
s1 = input()
s2 = input()
s1 is s2

 a
 a

True

In [37]:
# large integers id differs 
A  = int(input())
B = int(input())
A is B

 1000
 1000

False

In [38]:
# commonly it is used to determine whether is None or not
world = None
world is None

True

In [39]:
world = ""
world is None

False

In [1]:
# None is singlten none is used only once so we can use is keyword

In [2]:
# EXAMPLE 1
a = [1, 2, 3]
b = a
a = [1, 2, 3]
a is b

False

In [3]:
#example 2
a = [ 2 , 3 ,9 ]
b = a
b[0] = 10
c = b
c is b

True

In [5]:
expression = input()
def eval_expression(expression):
    stack = []
    for char in expression:
        if char == '(':
            stack.append(char)
        elif char == ')':
            if stack[-1] != '(':
                return "ERROR"
            stack.pop()
    return "OK" if len(stack) == 0 else "ERROR"
print(eval_expression(expression))

 (()

ERROR