## Python Programming Basics Part 1

### Lesson 5 Working with Lists

### Lists are Ordered Iterable Object and can contain any data type it can

#### Ordered :  Elements have fixed Position
#### Stores Duplicate Values and different data types`

#### Creation of List and Printing List

In [1]:
fruits = ["apples","oranges","banana"]
print(fruits)

['apples', 'oranges', 'banana']

#### Iterable Object : Collections that can be looped over and can be accessed one by one

Strings and Lists are iterable as they can be accessed one by one in loop

In [2]:
fruits = ["apples","oranges","banana"]
for fruit in fruits:
    print(fruit)

apples
oranges
banana

In [3]:
# Length of List 
sample = [1,2,3,4,5]
print(len(sample))

5

In [4]:
# ways to Create Empty List 
empty_list1 = []
empty_list2 = list()
print(empty_list1,empty_list2)

[] []

In [5]:
# different data types and duplicates 
lst = [1,"papaya",2,1]
lst

[1, 'papaya', 2, 1]

In [6]:
# To Access Element of index you need to use square brackets within index 
#lst[index] where index range from 0 to len(lst)-1
lst = [1,2,3,4,5]
print(lst[0],lst[len(lst)-1])

1 5

#### Index Error and Type Error

In [7]:
# list is mutable
lst = ["apples",1,3,"banana"]
lst[0] ="bn"
print(lst)

['bn', 1, 3, 'banana']

In [8]:
# String is immutable if You try to change index position characters throws Type Error
example = "Hello"
example[0] = "h"

TypeError: 'str' object does not support item assignment

In [ ]:
# If the Index above len(lst) - 1  throws Index Error For both Strings and List
example = "Hello"
# print(example[5]) It Will Throw Index Error
print(example[4])

In [ ]:
# Negative index should range from -1 to len(lst) else Index Error
example = "Hello"
print(example[-1],example[-len(example)])

### Sorting a List

In [9]:
numbers = [5,4,3,2,1]
# inplace sort a list by sort() method chnages original one
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5]

In [10]:
numbers = [5,4,3,2,1]
# sort and returns the new  list by using sorted() method
sorted(numbers)

[1, 2, 3, 4, 5]

In [11]:
# sort in decesending order 
numbers = [5,4,3,2,1]
lst = [6,7,8,9,0]
numbers.sort(reverse=True)
print(numbers)
print(sorted(lst,reverse=True))

[5, 4, 3, 2, 1]
[9, 8, 7, 6, 0]

In [12]:
# Causes of Type Error 
# Example List contains both strings and integer
lst = ["animal",1,2,"banan"]
lst.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [13]:
# sort strings 
fruits = ["banana","grapes","apples","guava"]
fruits.sort()
print(fruits)

['apples', 'banana', 'grapes', 'guava']

In [14]:
# sort the list based on key
lst = ["abcd","a","aa","","fghjk"]
lst.sort(key=len) # based on length 
print(lst)

['', 'a', 'aa', 'abcd', 'fghjk']

In [15]:
def fun(x):
    return int(x**2) - 1
lst = [100,1000,3,4,345]
lst.sort(key=fun)
print(lst)

[3, 4, 100, 345, 1000]

In [16]:
def fun(x):
    return -x+1
lst = [100,200,1,3,4,5]
lst.sort(key=fun)
lst

[200, 100, 5, 4, 3, 1]

In [17]:
# reverse and reversed 
lst = [1,2,3]
print(reversed(lst)) # pay attention you will get result like this

<list_reverseiterator object at 0x0000017C080AEB00>

In [18]:
lst = [1,2,3]
# reversed list
for num in reversed(lst):
    print(num)

3
2
1

In [19]:
# reverse inplace
lst = [1,2,4]
lst.reverse()
print(lst)

[4, 2, 1]

### Sequence : Sequence is a data structure that can store multiple items in particular order

#### Slicing [start:end:step]
1)  start - > represents the start of the sequence
2)  end - > represents first index that needs to be excluded
3)  step -> jump needed for slicing

In [20]:
# slicing [:]
# default start - > 0 , end -> len(lst) - 1 , step = 1
a = [1,2,3,4,5,6,7,8]
a[::]

[1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
# slicing [x:]
a = [1,2,3,4,5,6,7,8]
a[3:]

[4, 5, 6, 7, 8]

In [22]:
# sicing[:x]
a = [1,2,3,4,5,6,7,8]
a[:3]

[1, 2, 3]

In [23]:
# slicing [x:y]
a = [1,2,3,4,5,6,7,8]
a[3:5]

[4, 5]

In [24]:
# slicing [::step]
a = [1,2,3,4,5,6,7,8]
a[::2]

[1, 3, 5, 7]

In [25]:
# slicing [x::step]
a = [1,2,3,4,5,6,7,8]
a[3::2]

[4, 6, 8]

In [26]:
# slcing [:x:step]
a = [1,2,3,4,5,6,7,8]
a[:5:3]

[1, 4]

In [27]:
# slicing [x:y:step]
a = [1,2,3,4,5,6,7,8]
a[3:8:2]

[4, 6, 8]

In [29]:
# negative slicing
# reverse list[::-step]
a = [1,2,3,4,5,6,7,8]
a[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
# slcing  [x::-step]  , slicing[:x:-step]
a = [1,2,3,4,5,6,7,8]
print(a[3::-2])
print(a[7::-1])

[4, 2]
[8, 7, 6, 5, 4, 3, 2, 1]

In [40]:
# slcing [x:y:-step]
a = [1,2,3,4,5,6,7,8]
a[7:3:-1]

[8, 7, 6, 5]

### Nested Lists : List contains One Or More Lists as its elements

In [42]:
# Creating and Accessing Nested Lists
lst = [[1,2],[3,4]]
lst[0][0]

1

In [43]:
# Type Error -> Int Object not subscriptable 
# Index Error - > List Out Of range

In [44]:
# if the list lengths of all nested lists are same then called as matrix
matrix = [[1,2,3],[4,5,6],[7,8,9]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### List Comprehension
Concise and Efficent way to Create a List from Iterable

In [46]:
# 1 dimensional list
lst = [x **2 for x in range(3)]
print(lst)

[0, 1, 4]

In [54]:
# 2 dimensional list 
lst = [[j+i for j in range(1,4)] for i in range(3)]
lst

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [57]:
# since it is more complex
# We write more readable one 
lst = []
for i in range(3):
    lst.append([])
    for j in range(1,4):
        lst[i].append(j+i)
lst

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [58]:
# with if
lst = ["ceaser","john","jolly","joker","Raven"]
new_lst = [ name for name in lst if name.startswith("j")]
new_lst

['john', 'jolly', 'joker']

In [66]:
# with if example 2
import math
def isPrime(num:int):
    if num <= 1:
        return False
    if num == 2:
        return True
    for i in range(2,int(math.sqrt(num))+1):
        if num % i == 0:
            return False
    return True
lst = [i for i in range(1000) if isPrime(i)]
print(lst)
print(len(lst))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
168

In [67]:
# with if else -> check out syntax 
a = [i+1 for i in range(10)]
ans = [0 if num % 2 == 0 else 1 for num in a]
ans

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0]