# Python Programming Basics Part 1

### Lesson 1 Beginning

Program is Sequence of instructions which are executed in order to peform task

print() is the function is used to print the string present inside parthensis

In [1]:
print("Hello World")  # printing hello world

Hello World

Basic Errors to Avoid :
1) missing one or more quotes
2) missing indentation
3) unwanted spaces 
4)  Writting wrong name in function
5) Writting different case for any name than declared (case-sensitive)
6) missing one or more parthensis

 Comments 
1) Textual Expression which explains the program starts with #
2) They are get ignored during execution
3) They are for documental purposes

In [2]:
# This is Single Line Comment
'''
    This is Mutlline Comment 
'''

'\n    This is Mutlline Comment \n'

Data Object :
 Containter that stores information about value and may store additional data such as identity

String literals : Sequence of Characters surronded by single or double quotes

Numeric Data Type : Category of data that can handle numbers 
1) signed integers 
2) floating point numbers

type() function tells us about data type of variables or constants

In [3]:
type("Thiru")

str

In [5]:
# Basic Data Types
email  = "Thiru@gmail.com"
numOranges = 12
totalBudget = 3.4
img = 12j

Variables : namespace that store value and access it later only within indentation they intialised

" Python is Dynamically typed language"
because , data Types are checked at runtime

Identifier : name given to variable which stores value into it
### Rules of Identifier
1) It should not start with digit
2) It can start with letters , underscores  followed by digits , letters or underscores
3) must not be keyword 
4) case sensitive

Arithemetic Operations : Mathematical Operations operations on mathematical values

1) Operators: Symbols which operations can peform 
2) Operands : values that peform operations

In [6]:
a = 10 + 12 
print(a)

22

In [10]:
a1 = 12 - 22
a2 = 12 * 22
a3 = 12 / 22
a4 = 12 // 22
print(a1,a2,a3,a4,sep="\n")

-10
264
0.5454545454545454
0

In [ ]:
x1 = 12 % 2 # remainder 
print(x1)

0

In [12]:
# Exponentation
12 ** 2

144

Priority Of Operators 
1) power
2) unary minus
3) mul , div , rem
4) add , sub

### Taking User Input
input() function takes input as string

In [14]:
name = input("Enter name: ")
print(name)

Cabelon

### Type Casting
1) Implicit type casting not possible in python as dynamically typed langauge
2) Explicit type casting : type casted into int , float function

In [16]:
age = int(input("Enter Age: "))
radius = float(input("Enter radius: "))
import math
print(math.pi * (radius**2))

452.3893421169302

### Boolean Types & Truthy or Falsy Values

Boolean Type : special data type that holds True or False

Logical Operators : used to combine one or more conditional statements

1) and - > binary (if both are true it is true else false)
2) or - > binary (if both are false it is false else true)
3) not -> opposite of its truthy value

constants : once defined cannot change its value

In [19]:
print(12 % 4 == 0 or 3 % 4 == 0)
print(3% 4 == 0)

True
False

In [20]:
print(12 % 3 == 0 and 3 % 4 == 0)

False

In [21]:
print(not 12 % 3 == 0)

False

precedence of logical operators : not -> and  -> or

1) constants , None , False ,"", [] , {} , 0, 0.0 are all represented as Falsy values gives truth value False which are falsy values 
2) Others varibales except boolean generally have truth value True are called Truthy Values

In [23]:
a = bool("")
b = bool([])
c = bool({})
print(a,b,c)

False False False

In [24]:
a = bool(0)
b = bool(0.0)
print(a,b)

False False

In [25]:
a = 1
bool(a)

True

In [26]:
bool(None)

False

### Comparison Operators
Symbols used to compare values

In [ ]:
# lesser than 
12 < 22

True

In [ ]:
# greater than
12 > 22

False

In [ ]:
# lesser than or equal to 
12 <= 12

True

In [ ]:
# greater than equal to 
13 >= 12

True

In [31]:
# equal to 
12 == 12

True

In [32]:
# not equal to 
12  != 12

False

In [33]:
# object identity 
a = 12 
b = 12
a is b

True

In [34]:
# member ship operators 
word = "hello, world"
"hello" in word

True